body{
	font-family:  "Open Sans",open-sans,sans-serif;
  -webkit-font-smoothing: antialiased;
}
a{
	color: #f36;
}
p{
  font-size: 16px;
  color: rgb(116, 124, 131);
  line-height: 30px;
}
section#header{
	position: relative;
	height: 600px;
	overflow: hidden;
}
.header-overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(25,29,34,.75);
}
#big-video{
	position: absolute; 
	width: 100%;
}
.main-logo-wrapper{
  position: relative;
  top: -30px;
}
.main-logo-wrapper img{
	width: 100px;
}
.header-overlay{

}
.header-overlay h1{
  -webkit-font-smoothing: antialiased;
  color: rgb(255, 255, 255);
  display: block;
  height: 60px;
  letter-spacing: 3px;
  line-height: 60px;
  margin: 0 0 0px 0;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
  font: 400 2.875em/1.30435 'Open Sans', open-sans, sans-serif;
}
.header-overlay h2{
-webkit-font-smoothing: antialiased;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 22px;
  font-stretch: normal;
  font-variant: normal;
  font-style: oblique;
  font-weight: 300;
  height: 33px;
  letter-spacing: 0.12px;
  margin:0px;
  line-height: normal;
  margin-bottom: 36px;
  text-align: center;
  vertical-align: baseline;
}
.header-overlay i{
    color: #FFF;
    display: block;
    margin-top: 90px;
}
.header-text-wrap{
	text-align: center;
	padding: 18em 0 13em;
	text-align: center;
	max-width: 87.5em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 5;	
}
button{
  -webkit-font-smoothing: antialiased;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(199, 53, 130, 0.9);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3.00006866455078px;
  border-bottom-right-radius: 3.00006866455078px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 3.00006866455078px;
  border-top-right-radius: 3.00006866455078px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: brandon-grotesque, sans-serif;
  font-size: 14.0000400543213px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1.40000402927399px;
  line-height: 14.0000400543213px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 17.0001087188721px;
  padding-left: 27.000057220459px;
  padding-right: 27.000057220459px;
  padding-top: 19.0000152587891px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: ease;
  vertical-align: baseline;
  width: 310px;	
}
header{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 30;
	background: 0 0;
	padding: 0;
	z-index: 100;
}
header .inner-menu{
	padding: 0 4em;
}
header .inner-menu ul{
	margin-top: 5px;
}
nav{
	padding-top: 50px;
	  min-width: 900px;
}
nav ul{
	list-style-type: none;
	display: block;
	margin-right: 0;
	text-align: right;
	margin-top: 3px;	
}
nav ul li{
	display: inline-block;
	padding-top: 12px;
}
nav a{
	color: #FFF;
	text-transform: uppercase;
	padding: 3px 15px;
	font-size: 13px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1em;
	display: block;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	letter-spacing: .05em;	
}
nav .contact{	  
	  border: 1px solid rgb(199, 53, 130);	  
    border-radius: 3px;
	  padding: 16px 12px 13px;
	  margin-left: 15px;
    border-radius: 99em;
}
nav .contact a{
	color: rgb(199, 53, 130);
}
#about .avatar-wrap{
  text-align: center;
}
#about .avatar-wrap img, #contact img{
  width: 65%;
  border-radius: 1000px;
}
section#contact i{
  color: rgb(199, 53, 130);
}
section#contact .map-image{
  text-align:center;
}
section#contact img{
  margin-top: 20px;
}
section#social{}
section#social ol{
    list-style-type: none;
    margin: 0 auto;
    width: 640px;
    margin-top: 60px;
    display: block;
}
section#social ol li{
  float: left;
  display: block;
  padding: 45px;
  border: 1px solid #DDD;
  border-radius: 1000px;
  height: 150px;
  width: 150px;
  margin-right: 50px;
  text-align: center;
}
section#social ol li i{
  font-size: 58px;
  color: rgb(199, 53, 130);
}
section{
    padding: 40px 0;
}
section#header{
  padding: 0px;
}
section h5{
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(50, 58, 69);
  font-weight: 100;
  margin-top: 20px;
}
section h4 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 40px;
}

section h4 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

section h4:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
section h4:before {
  left: 0;
}
footer{
  background: #323a45;
  padding:20px 0;
  color: #FFF;
  margin-top: 40px;
}